@mixin centerRow(){
 display: flex;
 justify-content: center;
 align-items: center;
}
@mixin centerColumn(){
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
@mixin spaceBetween(){
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

